button.btn{
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}
button.btn-sm{
  padding: 7px 13px;
  font-size: 12px;
  border-radius: 4px;

}
i{
  display: inline-block;
  background-size: contain;
  height: 16px;
  width: 16px;
}
i.lgicon{
  height: 32px;
  width: 32px;
}
