html{
  background-color: ghostwhite;
}
button.btn{
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}
button.btn-sm{
  padding: 7px 13px;
  font-size: 12px;
  border-radius: 4px;

}
i{
  display: inline-block;
  background-size: contain;
  height: 16px;
  width: 16px;
}
i.lgicon{
  height: 32px;
  width: 32px;
}
.paginationbutton{
  background-color: white;
  border: solid darkgray;
  border-width: 1px;
  padding: 12px 30px ;
  border-radius: 5px;
  box-shadow: 0 0 15px darkgrey;
  transition-duration: 0.5s;
  font-weight: 400;
  font-size: 15px;
}
.paginationbutton:hover{
  box-shadow: 0 0 40px darkgrey;
  background-color: #f9f9f9;
}
a.littletag{
  background-color: darkgray;
  border-radius: 5px;
  padding: 2px 5px;
  display:inline-block;
  vertical-align:middle;
  i{
    vertical-align:middle;
  }
  p{
    padding: 2px 5px;
  }
}
.clearfix:after{
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
